<div
  class="w-full h-[100vh] pt-28 font-lato flex flex-col justify-center items-center py-16 px-4 text-gray-800 text-center"
>
  <h1 class="text-4xl md:text-6xl font-extrabold mb-6">
    Welcome to <br />
    <span
      class="bg-gradient-to-r from-fuchsia-600 to-pink-600 bg-clip-text text-transparent"
      >She Share Vacation Rentals</span
    >
  </h1>
  <p class="text-lg mb-8">Discover your perfect getaway</p>
  <div class="flex font-poppins justify-center space-x-4 mb-10">
    <a
      href="#"
      class="text-wrap text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >Share a Room</a
    >
    <a
      href="#"
      class="text-wrap text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >Rent a Room</a
    >
  </div>
  <div class="flex justify-center space-x-4">
    <div class="cursor-pointer">
      <h2 class="text-lg font-semibold mb-2">Safety</h2>
      <p class="text-sm italic">Your safety is our top priority</p>
    </div>
    <div class="cursor-pointer">
      <h2 class="text-lg font-semibold mb-2">Adventure</h2>
      <p class="text-sm italic">Embark on unforgettable experiences</p>
    </div>
    <div class="cursor-pointer">
      <h2 class="text-lg font-semibold mb-2">Community</h2>
      <p class="text-sm italic">Join our vibrant community of travelers</p>
    </div>
  </div>
  <div class="text-center mt-10">
    <span class="inline-block w-1 h-1 rounded-full bg-pink-400 ml-1"></span>
    <span class="inline-block w-3 h-1 rounded-full bg-pink-500 ml-1"></span>
    <span
      class="inline-block w-40 h-1 rounded-full bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600"
    ></span>
    <span class="inline-block w-3 h-1 rounded-full bg-pink-500 ml-1"></span>
    <span class="inline-block w-1 h-1 rounded-full bg-pink-400 ml-1"></span>
  </div>
</div>
